<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <!-- Header Section-->
  
  <header class="sheet-header">
    
    <div class="container">
      
      <!-- Actor Icon Section-->
      <div>
        <div class="actor-icon">
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        </div>
      </div>
      
      <!-- Resource Boxes Section-->
      
      <div class="resource-container">      
        
        <div class="resource-entry">
          {{ localize "rmss.player_character.resources.hits" }}
          <h4><input name="system.attributes.hits.current" type="Number" value="{{system.attributes.hits.current}}"/>/<input name="system.attributes.hits.max" type="Number" value="{{system.attributes.hits.max}}"/></h4>
        </div>
        
        <div class="resource-entry">
          <div class="exhaustion-resources">
            {{ localize "rmss.player_character.resources.exhaustion_points" }}
            <h4><input name="system.attributes.exhaustion_points.current" type="Number" value="{{system.attributes.exhaustion_points.current}}"/>/<input name="system.attributes.exhaustion_points.max" type="Number" value="{{system.attributes.exhaustion_points.max}}"/></h4>
          </div>
          <div class="exhaustion-modifier">
            <label>{{system.attributes.exhaustion_points.modifier}}</label>
          </div>
        </div>
        
        <div class="resource-entry">
          <div class="pp-resources">
            {{ localize "rmss.player_character.resources.power_points" }}
            <h4><input name="system.attributes.power_points.current" type="Number" value="{{system.attributes.power_points.current}}"/>/<input name="system.attributes.power_points.max" type="Number" value="{{system.attributes.power_points.max}}"/></h4>
          </div>
          <div class="pp-exhaustion">
            <label>{{system.attributes.power_points.modifier}}</label>
          </div>
        </div>
      </div>
      
      <!-- Name, XP and Level Section-->
      
      <div class="header-container">
        <div class="header-text">     
          <label for="name">{{ localize "rmss.player_character.name" }}</label>
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize Name }}"/>
        </div>
        
        <div class="header-text flexrow">
          <label for="level">{{ localize "rmss.player_character.level" }}</label>
          <input name="system.attributes.level.value" type="text" value="{{system.attributes.level.value}}"/>
        </div>
        
        <div class="header-text flexrow">
          <label for="experience">{{ localize "rmss.player_character.experience" }}</label>
          <input name="system.attributes.experience_points.value" type="text" value="{{system.attributes.experience_points.value}}"/>
        </div>
      </div>
      
    </div>
  </header>
  
  <!-- Page Selector -->
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="Record">{{ localize "rmss.pc_sheet_tabs.record" }}</a>
    <a class="item" data-tab="SkillCategory">{{ localize "rmss.pc_sheet_tabs.skill_categories" }}</a>
    <a class="item" data-tab="Skills">{{ localize "rmss.pc_sheet_tabs.skills" }}</a>
    <a class="item" data-tab="Equipment">{{ localize "rmss.pc_sheet_tabs.equipment" }}</a>
    <a class="item" data-tab="Spells">{{ localize "rmss.pc_sheet_tabs.spells" }}</a>    
    <a class="item" data-tab="StatusRecord">{{ localize "rmss.pc_sheet_tabs.status_record" }}</a>
    <a class="item" data-tab="ExperiencePoints">{{ localize "rmss.pc_sheet_tabs.experience_points" }}</a>
  </nav>
  <!-- Body Section-->
  <section class="sheet-body">
    <div class="tab record" data-group="primary" data-tab="Record">
      <div class="container">
        <div class="fixed-info-container">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-fixed-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-armor-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-resistance.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-race-stat-fixed-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-role-traits.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-background-info.html" }}
        </div>
        
        <div class="stat-container">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-stats.html" }}
          
          <div class="favorite-container">
            <h2>Favorite Skills</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-skills.html" }}
            <h2>Favorite Spells</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-spells.html" }}          
            <h2>Equipped Items</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-items.html" }} 
            <h2>Description</h2>
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
          </div>
        </div>


      </div>
    </div>
    
    <div class="tab skill_categories" data-group="primary" data-tab="SkillCategory">
      {{> "systems/rmss/templates/sheets/actors/parts/actor-skill-categories.html" }}
    </div>
    
    <div class="tab skills" data-group="primary" data-tab="Skills">
      {{> "systems/rmss/templates/sheets/actors/parts/actor-skills.html" }}
    </div>

    <div class="tab equipment" data-group="primary" data-tab="Equipment">
      <div class="container">
        <div class="equipment-container">
          <h2>Items</h2>
          {{> "systems/rmss/templates/sheets/actors/parts/actor-items.html" }}
          <h2>Weapons</h2>
          {{> "systems/rmss/templates/sheets/actors/parts/actor-weapons.html" }}
          <h2>Armor and Equipables</h2>
          {{> "systems/rmss/templates/sheets/actors/parts/actor-armor.html" }}
          <h2>Herbs and Poisons</h2>
          {{> "systems/rmss/templates/sheets/actors/parts/actor-herbs.html" }}          
        </div>
        
        <div class="money-container">
        <h2>Wealth</h2>
          {{> "systems/rmss/templates/sheets/actors/parts/actor-money.html" }}
        </div> 
      </div>
    </div>
    <div class="tab spells" data-group="primary" data-tab="Spells">
        <div class="spell-container">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-spells.html" }}
        </div>       
  </div>
  </section>
</form>

