

.applicable-stats-grid-container {
    display: grid;
    grid-template-columns: [app-stat-1] 33% [app-stat-2] 33% [app-stat-3] 33%;
}

.applicable-stats-grid-container > div {
    font-family: Signika, sans-serif;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: center;
}