.items-grid-container {
    display: grid;
    grid-template-columns: [worn] 10% [name] 30% [quantity] 15% [weight] 15% [cost] 15% [controls] 15%;
}

.items-grid-container > div {
    font-family: Signika, sans-serif;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: center;
}

.items-grid-container > div:nth-child(12n+1),
.items-grid-container > div:nth-child(12n+2),
.items-grid-container > div:nth-child(12n+3),
.items-grid-container > div:nth-child(12n+4),
.items-grid-container > div:nth-child(12n+5),
.items-grid-container > div:nth-child(12n+6)
{
    font-family: Signika, sans-serif;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.items-grid-heading {
    font-weight: bold;
    border-bottom: 1px solid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}