<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <table>
                <tr>
                    <th>{{localize "rmss.item.quantity"}}</th>
                    <th>{{localize "rmss.weapon.cost"}}</th>
                    <th>{{localize "rmss.weapon.type"}}</th>
                    <th>{{localize "rmss.weapon.prod_time"}}</th>
                    <th>{{localize "rmss.weapon.weight"}}</th>
                    <th>{{localize "rmss.weapon.breakage_range"}}</th>
                    <th>{{localize "rmss.weapon.strength"}}</th>
                    <th>{{localize "rmss.weapon.fumble_range"}}</th>

                </tr>
                <td>
                    <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.cost" type="text" value="{{data.cost}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="data.type" type="text" value="{{data.type}}" data-dtype="String"/>
                </td>                
                <td>
                    <input name="data.prod_time" type="text" value="{{data.prod_time}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.breakage_range" type="text" value="{{data.breakage_range}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="data.strength" type="text" value="{{data.strength}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.fumble_range" type="text" value="{{data.fumble_range}}" data-dtype="Number"/>
                </td>

            </table>
                {{localize "rmss.item.description"}}
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
