<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <table>
                <tr>
                    <th>{{localize "rmss.transport.cost"}}</th>
                    <th>{{localize "rmss.transport.feet_per_round"}}</th>
                    <th>{{localize "rmss.transport.miles_per_hour"}}</th>
                    <th>{{localize "rmss.transport.maneuver"}}</th>
                    <th>{{localize "rmss.transport.height"}}</th>
                    <th>{{localize "rmss.transport.weight"}}</th>
                    <th>{{localize "rmss.transport.capacity"}}</th>
                    <th>{{localize "rmss.transport.offensive_bonus"}}</th>
                </tr>
                <td>
                    <input name="data.cost" type="text" value="{{data.cost}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="data.feet_per_round" type="text" value="{{data.feet_per_round}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.miles_per_hour" type="text" value="{{data.miles_per_hour}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.maneuver" type="text" value="{{data.maneuver}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.height" type="text" value="{{data.height}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.capacity" type="text" value="{{data.capacity}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.offensive_bonus" type="text" value="{{data.offensive_bonus}}" data-dtype="Number"/>
                </td>


            </table>
                {{localize "rmss.item.description"}}
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
