<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <table>
                <tr>
                    <th>{{localize "rmss.spell.favorite"}}</th>
                    <th>{{localize "rmss.spell.spell_list"}}</th>
                    <th>{{localize "rmss.spell.level"}}</th>
                    <th>{{localize "rmss.spell.area_of_effect"}}</th>
                    <th>{{localize "rmss.spell.duration"}}</th>
                    <th>{{localize "rmss.spell.range"}}</th>
                    <th>{{localize "rmss.spell.type"}}</th>

                </tr>
                <td>
                    <input type="checkbox" name="system.favorite" {{checked system.favorite}}/>
                </td>
                <td>
                    <input name="system.spell_list" type="text" value="{{system.spell_list}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.level" type="text" value="{{system.level}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.area_of_effect" type="text" value="{{system.area_of_effect}}" data-dtype="String"/>
                </td>                
                <td>
                    <input name="system.duration" type="text" value="{{system.duration}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.range" type="text" value="{{system.range}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.type" type="text" value="{{system.type}}" data-dtype="String"/>
                </td>

            </table>
                {{localize "rmss.spell.description"}}
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
